---
translations:
  menu_why:
    de: "Warum Crossfoam?"
    en: "Why Crossfoam?"
  menu_features:
    de: Funktionen
    en: Features
  menu_privacy:
    de: Privatsphäre
    en: Privacy
  menu_ethical:
    de: Design & Ethik
    en: Ethical Design
  menu_funding:
    de: Förderung
    en: Funding
  menu_about:
    de: Über uns
    en: About us
  menu_how:
    de: Wie es funktioniert
    en: How it works
  menu_legal:
    de: Impressum
    en: Legal
  menu_contact:
    de: Kontakt
    en: Contact
  menu_data:
    de: Datenschutzerklärung
    en: Data policy
  menu_press:
    de: Presse
    en: Press
  title:
    de: "Crossfoam - Digitale Teilhabe"
    en: "Crossfoam - Digital Empowerment"
  description:
    de: "Crossfoam ist eine Browser-Erweiterung zur Erkundung von Netzwerken in Sozialen Medien. Crosssfoam schafft neue Perspektiven auf Filterblasen. Crossfoam wird von Ultrapop entwickelt."
    en: "Crossfoam is a browser-extension for exploring social media networks. Crossfoam turns filter bubbles into lenses on the public. Crossfoam is being developed by ultrapop."
---
<!DOCTYPE html>
<html lang="{{ page.lang }}" itemscope itemtype="https://schema.org/WebApplication">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sebastian Meier | @seb_meier / Daniel Lommes | @lommes">
  <meta name="description" content="{{ layout.translations.description[page.lang] }}">
  <meta http-equiv="last-modified" content="2019-10-18 08:06:25 +0000">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absolute_url }}">
  <link rel="icon" href="{{ "/favicon.ico" | absolute_url }}" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absolute_url }}" type="image/x-icon" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | absolute_url }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | absolute_url }}">
  <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | absolute_url }}" color="#004d61">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">

  <meta itemprop="name" content="{{ layout.translations.title[page.lang] }}">
  <meta itemprop="datePublished" content="2019-10-18 08:06:25 +0000">
  <meta itemprop="dateModified" content="2019-10-18 08:06:25 +0000">
  <meta itemprop="author" content="Sebastian Meier | @seb_meier / Daniel Lommes | @lommes">
  <meta itemprop="publisher" content="Sebastian Meier | @seb_meier / Daniel Lommes | @lommes">
  <meta itemprop="headline" content="{{ layout.translations.title[page.lang] }}">
  <meta itemprop="mainEntityOfPage" content="https://www.ultrapop.de">
  <meta itemprop="description" content="{{ layout.translations.description[page.lang] }}">
  <meta itemprop="image" content="{{ "/assets/images/social_media.jpg" | absolute_url }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@seb_meier">
  <meta name="twitter:title" content="{{ layout.translations.title[page.lang] }}">
  <meta name="twitter:description" content="{{ layout.translations.description[page.lang] }}">
  <meta name="twitter:creator" content="@seb_meier">
  <meta name="twitter:image" content="{{ "/assets/images/social_media.jpg" | absolute_url }}">

  <meta property="og:title" content="{{ layout.translations.title[page.lang] }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="{{ "/assets/images/social_media.jpg" | absolute_url }}">
  <meta property="og:description" content="{{ layout.translations.description[page.lang] }}">
  <meta property="og:site_name" content="https://www.ultrapop.de">
  <meta property="article:published_time" content="2019-10-18 08:06:25 +0000">
  <meta property="article:modified_time" content="2019-10-18 08:06:25 +0000">
  <title>Crossfoam{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | absolute_url }}" media="all">
</head>
<body>

  <div id="navbar">
    <div id="logo-container">
      <a href="/{{ page.lang }}/index.html"><span>Crossfoam</span></a>
    </div>
    <div id="lang-switch">
      {% if page.lang != 'en' %}
      <a href="{% if page.name == 'index.html' %}{{ "/en/" | absolute_url }}{% else %}{{ page.url | replace: "/de/", "/en/" | absolute_url }}{% endif %}">English</a>
      {% else %}
      <a href="{% if page.name == 'index.html' %}{{ "/de/" | absolute_url }}{% else %}{{ page.url | replace: "/en/", "/de/" | append: page.handle | absolute_url }}{% endif %}">Deutsch</a>
      {% endif %}
      &nbsp;/&nbsp;
    </div>
    <nav role="navigation">
      <div id="menuToggle">
        <input label="Toggle Menu" type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <div id="menu">
          <ul>
            <li><a href="{% if page.name != 'index.html' %}/{{ page.lang }}/index.html{% endif %}#story">{{ layout.translations.menu_why[page.lang] }}</a></li>
            <li><a href="{% if page.name != 'index.html' %}/{{ page.lang }}/index.html{% endif %}#features">{{ layout.translations.menu_features[page.lang] }}</a></li>
            <li><a href="{% if page.name != 'index.html' %}/{{ page.lang }}/index.html{% endif %}#download">Download</a></li>
            <li><a href="{% if page.name != 'index.html' %}/{{ page.lang }}/index.html{% endif %}#privacy">{{ layout.translations.menu_privacy[page.lang] }}</a></li>
            <li><a href="{% if page.name != 'index.html' %}/{{ page.lang }}/index.html{% endif %}#ethical">{{ layout.translations.menu_ethical[page.lang] }}</a></li>
            <li><a href="{% if page.name != 'index.html' %}/{{ page.lang }}/index.html{% endif %}#funding">{{ layout.translations.menu_funding[page.lang] }}</a></li>
            <li><a href="{% if page.name != 'index.html' %}/{{ page.lang }}/index.html{% endif %}#about">{{ layout.translations.menu_about[page.lang] }}</a></li>
            <li><a href="/{{ page.lang }}/howto">{{ layout.translations.menu_how[page.lang] }}</a></li>
            <li><a href="/{{ page.lang }}/legal">{{ layout.translations.menu_legal[page.lang] }}</a></li>
            <li><a href="/{{ page.lang }}/press">{{ layout.translations.menu_press[page.lang] }}</a></li>
            <li><a href="mailto:info@ultrapop.de">{{ layout.translations.menu_contact[page.lang] }}</a></li>
          </ul>
        </div>
     </div>
    </nav>
  </div>

  {{ content }}

<footer>
  <a href="mailto:info@ultrapop.de">{{ layout.translations.menu_contact[page.lang] }}</a> | <a href="/{{ page.lang }}/legal">{{ layout.translations.menu_legal[page.lang] }}</a> | <a href="/{{ page.lang }}/datapolicy">{{ layout.translations.menu_data[page.lang] }}</a> | <a href="/{{ page.lang }}/press">{{ layout.translations.menu_press[page.lang] }}</a> | &copy; Ultrapop 2020
</footer>

<script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>