---
layout: page
---
<h1>{{ page.h1 }}</h1>
<p>{{ page.intro }}</p>

  <div class="table responsive">
    <div class="table-row">
      <div class="table-cell"><img src="{{ "/assets/images/story/intro-1@2x.png" | absolute_url }}" alt="" /></div>
      <div class="table-cell"><p id="howto--copy1">{{ page.p1 }}</p></div>
    </div>
  </div>
  
  <div class="table responsive">
    <div class="table-row">
      <div class="table-cell"><img src="{{ "/assets/images/story/intro-2@2x.png" | absolute_url }}" alt="" /></div>
      <div class="table-cell"><p id="howto--copy2">{{ page.p2 }}</p></div>
    </div>
  </div>
  <div class="table responsive">
    <div class="table-row">
      <div class="table-cell"><img src="{{ "/assets/images/story/intro-3@2x.png" | absolute_url }}" alt="" /></div>
      <div class="table-cell"><p id="howto--copy3">{{ page.p3 }}</p></div>
    </div>
  </div>
  <div class="table responsive">
    <div class="table-row">
      <div class="table-cell"><img src="{{ "/assets/images/story/intro-4@2x.png" | absolute_url }}" alt="" /></div>
      <div class="table-cell"><p id="howto--copy4">{{ page.p4 }}</p></div>
    </div>
  </div>

  <p id="howto--copy5">{{ page.p5 }}</p>

  <p><img style="max-width:100%;" id="howto--transl-img1" src="{{ "/assets/images/story/intro-5-" | append: page.lang | append: "@2x.png" | absolute_url }}" alt="" /></p>

  <p id="howto--copy6">{{ page.p6 }}</p>

  <p><img style="max-width:100%;" id="howto--transl-img2" src="{{ "/assets/images/story/intro-6-" | append: page.lang | append: "@2x.png" | absolute_url }}" alt="" /></p>
  <p id="howto--copy7">{{ page.p7 }}</p>

  <div class="table responsive">
    <div class="table-row">
      <div class="table-cell"><img src="{{ "/assets/images/story/intro-cluster@2x.png" | absolute_url }}" alt="" /></div>
      <div class="table-cell"><p id="howto--copy8">{{ page.p8 }}</p></div>
    </div>
  </div>

  <div class="table responsive">
    <div class="table-row">
      <div class="table-cell"><img src="{{ "/assets/images/story/intro-9@2x.png" | absolute_url }}" alt="" /></div>
      <div class="table-cell"><p id="howto--copy9">{{ page.p9 }}</p></div>
    </div>
  </div>

  <p><img style="max-width:100%;" id="howto--transl-img3" src="{{ "/assets/images/story/intro-7-" | append: page.lang | append: "@2x.png" | absolute_url }}" alt="" /></p>
  <p id="howto--copy10">{{ page.p10 }}</p>
  
  <div class="table responsive">
    <div class="table-row">
      <div class="table-cell"><img src="{{ "/assets/images/story/intro-8@2x.png" | absolute_url }}" alt="" /></div>
      <div class="table-cell"><p id="howto--copy11">{{ page.p11 }}</p></div>
    </div>
  </div>

  <p id="howto--copy12">{{ page.p12 }}</p>

</div>